.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 185, 187);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 16px;
  border-radius: 15px;
  border: 1px solid rgba(138, 133, 133, 0.288);
  box-shadow: 0px 0px 25px 6px rgba(88, 88, 88, 0.445);
  background-color: cadetblue;
}

.title {
  font-size: 4.7em;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: rgb(201, 199, 199) 0px 0px 10px;
}

.input {
  padding: 8px;
  font-size: 1.8em;
  background-color: rgb(88, 153, 155);
  color: rgb(209, 197, 197);
  border: 1px solid rgba(118, 168, 170, 0.596);
  border-radius: 12px;
  margin: 24px 42px 24px 42px;
  text-align: center;
}

.input::placeholder {
  color: rgb(209, 197, 197);
}

.button {
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  background-color: rgb(195, 228, 230);
  cursor: pointer;
  color: rgb(87, 82, 82);
}

.buton:disabled, button[disabled] {
  background-color: rgb(156, 194, 196);
  cursor: default;
  color: rgb(148, 143, 143);
}